.profile-page {
    background-color: red; // Temporary test style
  }

  .button {
    background-color: #ffa500;
    border-radius: 5px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 8px;
      &:hover {
        background: #ffa600a6;
        transition-duration: 1;
        color: black;
    }
  }
