<section class="item-edit">
  <div class="container">
    <h2 class="text-center mb-4">Edit Item</h2>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <%= render "bookings/formedit", item: @item %>
      </div>
    </div>
  </div>
</section>