.hero {
    background-size: cover;
    background-position: center;
    height: 800px; 
    display: flex;
    align-items: center;
    justify-content: center;
  
    .hero-content {
      text-align: center;
      color: white;
  
      h1 {
        font-size: 48px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }
    }
  }